body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
    padding: 30px;
}

button {
    padding: 15px 25px;
    font-size: 22px;
    margin: 10px;
    border: none;
    background: gold;
    border-radius: 10px;
    cursor: pointer;
}
